<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monet.mylibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />

    <application>
        <activity android:name=".activity.LandingPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.QuestionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.EmotionScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReactionScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ThankyouPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PlayVideoAndRecordScreen"></activity>
    </application>

</manifest>