<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monet.mylibrary">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".activity.LandingPage"
            android:theme="@style/MyLibTheme"/>
        <activity android:name=".activity.DebugActivitySecound"
            android:theme="@style/MyLibTheme"/>
    </application>

</manifest>