<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monet.mylibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".activity.LandingPage" />
        <activity android:name=".activity.QuestionActivity" />
        <activity android:name=".activity.EmotionScreen" />
        <activity android:name=".activity.ReactionScreen" />
        <activity android:name=".activity.ThankyouPage"></activity>
    </application>

</manifest>